// @import '~@/common/scss/const.scss';

// 定义颜色规范
$color-background           : #efefef;
$color-border               : #dadada;
$color-background-d         : #dadada;
$color-background-h         : #fff;
//$color-dialog-background    : #666;
$color-theme                : #38a7ff;
//$color-theme-d              : rgba(255, 205, 49, 0.5);
$color-sub-theme            : #68d0ab;
$color-text                 : #666;
$color-text-d               : #333;
$color-text-l               : #999;
$color-text-ll              : #fff;

//定义字体规范
$font-size-small    : 20px;
$font-size-small-x  : 22px;
$font-size-medium   : 24px;
$font-size-medium-x : 28px;
$font-size-large    : 30px;
$font-size-large-x  : 32px;
